@keyframes flipOutY {
    from {
        transform: perspective(400px);
    }
    
    to {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        opacity: 0;
    }
}

@keyframes flipInY {
    from {
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      opacity: 0;
    }
  
    to {
      transform: perspective(400px);
    }
}
