* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    --animate-duration: 1s;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 70px;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
}

.header__logo {
    width: 105px;
    height: 30px;
}

.menu__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notification-icon {
    font-size: 30px;
    color: rgb(190,201,217);
    margin-right: 30px;
}

.avatar__item-round {
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 153, 27);
    border-radius: 50%;
}


.main-layout {
    /* height: calc(100vh - 70px); */
    background: rgb(248, 249, 252);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards__container {
    height: 600px;
    flex: 1 1 auto;
    background: rgb(255, 255, 255);
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(7, 1fr) 150px;
}

.cards__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards__item-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.cards__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cards__item-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cards__item-text {
    font-weight: 600;
    overflow-y: auto;
    margin: 0 10px;
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

.cards__item--binary {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.cards__item--binary > .cards__item-wrapper {
    background: rgb(255, 255, 255);
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-name: flipInY;
}

.cards__item--binary:hover > .cards__item-wrapper{
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-fill-mode: forwards;
    animation-name: flipOutY;
}

.cards_item-btn--binary {
    background: rgb(0, 173, 238);
    color: rgb(255, 255, 255);
    width: 100px;
    min-height: 36px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.cards_item-btn--binary:hover {
    background: rgb(3,60,146);
}

.cards__item--qa {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 9;
}

.cards__item--qa > .cards__item-wrapper {
    background: rgb(81, 192, 119);
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-name: flipInY;
}

.cards__item--qa:hover > .cards__item-wrapper {
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-fill-mode: forwards;
    animation-name: flipOutY;
}

.cards__item-label--qa {
    color: rgb(255, 255, 255);
    font-size: 100px;
}

.cards__item--js {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 7;
}

.cards__item--js > .cards__item-wrapper {
    background: rgb(248, 207, 105);
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-name: flipInY;
}

.cards__item--js:hover > .cards__item-wrapper {
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-fill-mode: forwards;
    animation-name: flipOutY;
}

.cards__item-label--js {
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-weight: 900;
    justify-content: flex-end;
    align-items: flex-end;
}

.cards__item--java {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 9;
}

.cards__item--java > .cards__item-wrapper {
    background: rgb(225, 44, 76);
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-name: fadeInUp;
}

.cards__item--java:hover > .cards__item-wrapper {
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-fill-mode: forwards;
    animation-name: fadeOutDown;
}

.cards__item-label--java {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.cards__item--php {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
}

.cards__item--php > .cards__item-wrapper {
    background: rgb(136, 146, 191);
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-name: fadeInTopRight;
}

.cards__item--php:hover > .cards__item-wrapper {
    animation-duration: calc(var(--animate-duration) * 0.5);
    animation-fill-mode: forwards;
    animation-name: fadeOutTopRight;
}

.cards__item-label--php {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 100px;
}

.cards__item--dotnet {
    background: rgb(100, 33, 119);
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 9;
}

.cards__item--events {
    background: rgb(46, 153, 254);
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
}

.cards__item--blog {
    background: rgb(4, 67, 163);
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 8;
}

.cards__item--contacts {
    background: rgb(0, 38, 94);
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
}

.footer {
    margin-top: 50px;
    margin-bottom: 10px;
}
